@charset "UTF-8";
body {
  overflow: hidden;
  overflow-y: auto;
}
.wrap {
  position: relative;
  overflow: hidden;
  /* width: 100%; */
}
.right-contents {
  display: flex;
  justify-content: flex-end;
}
.container {
  padding-bottom: 6rem;
}
.txt-orange {
  color: #ff6100;
}
.txt-blue {
  color: #3276ff;
}
.txt-green {
  color: #b3da2e;
}

.btn {
  display: inline-block;
  appearance: none;
  border: 0;
  height: 3.9285rem;
  font-weight: 600;
  letter-spacing: 0.2px;
  font-size: 1.1428rem;
  line-height: 3.9285rem;
  text-align: center;
  background: transparent;
}
.btn.btn-black {
  color: #fff;
  background: #000;
  border: 1px solid rgba(255, 255, 255, 0.7);
}
.btn.btn-radius {
  border-radius: 4px;
}
.btn.btn-orange {
  color: #fff;
  background: #ff6100;
}
.btn.btn-green {
  color: #fff;
  background: #b3da2e;
}
.m-gnb-menu,
.btn-close {
  display: none;
  padding: 0;
  cursor: pointer;
}

.inner-contents {
  position: relative;
  max-width: 1440px;
  margin: 0 auto;
  z-index: 100;
}
@media only screen and (max-width: 1440px) {
  .inner-contents {
    padding: 0 20px;
  }
}
@media only screen and (max-width: 1024px) {
  .m-block {
    display: block;
  }

  .pc-show {
    display: none;
  }
}
@media only screen and (min-width: 1024px) {
  .pc-block {
    display: block;
  }

  .pc-show {
    display: block;
  }
}

.logo a {
  display: block;
  width: 180px;
  height: 36px;
  background: url("../../img/img_logo.png") 0 0 no-repeat;
  background-size: contain;
  text-indent: -9999px;
  font-size: 0;
  transition: all 1s;
}
@media only screen and (max-width: 1024px) {
  .logo a {
    width: 99px;
    height: 22px;
  }
}
.header {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  padding: 1rem 0;
  transition: all 0.5s;
  z-index: 900;
}
.header.active {
  background: #fff;
  box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.1);
}
.header .inner-contents {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-menu {
  display: flex;
  justify-content: center;
  align-items: center;
}
.gnb > ul {
  display: flex;
}
.gnb > ul li {
  margin: 0 1.7rem;
}
.gnb > ul li a {
  font-size: 1.2rem;
  font-weight: 400;
  letter-spacing: 0.4px;
  color: #000;
}
.gnb > ul li.current a {
  color: #3276ff;
}
.active-container .gnb > ul li a {
  color: #000;
  font-weight: 400;
}
.active-container .header-menu .m-gnb-menu svg path {
  stroke: #000;
}
@media only screen and (max-width: 1024px) {
  .m-gnb-menu,
  .btn-close {
    display: block;
  }

  .gnb {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 9000;
    transform: translateX(100%);
    transition: 0.5s all;
  }
  .gnb.show {
    transform: translateX(0);
  }
  .gnb ul {
    flex-direction: column;
  }
  .gnb ul li + li {
    margin-top: 10vw;
  }
  .gnb ul li {
    text-align: center;
  }
  .gnb ul li a {
    position: relative;
    display: inline-block;
    font-size: 2rem;
    color: #000;
    padding-bottom: 10px;
    line-height: 1;
  }
  .gnb ul li a:after {
    position: absolute;
    left: 0;
    bottom: 0;
    display: block;
    width: 0;
    height: 3px;
    background: rgb(255, 121, 34);
    content: "";
    transition: 1s all;
  }
  .gnb ul li.active a:after {
    width: 100%;
  }
  .gnb .btn-close {
    position: absolute;
    right: 2rem;
    top: 2rem;
  }
  .gnb .btn-close .mdi {
    font-size: 7vw;
  }
}
.section-title {
  font-weight: 800;
  font-size: 2rem;
  line-height: 2.4rem;
  color: #282c34;
}
.section-desc {
  margin-top: 1.4rem;
  font-weight: 400;
  font-size: 1.1rem;
  line-height: 1.4rem;
  color: #585d65;
}
@media only screen and (min-width: 1024px) {
  .section-title {
    font-size: 3.428rem;
    line-height: 4.142rem;
  }
  .section-desc {
    margin-top: 2rem;
    font-size: 1.428rem;
    line-height: 2rem;
  }
}
.company .section {
  position: relative;
  z-index: 100;
}
.company .section + .section {
  padding: 4rem 0;
}
.company .section .desc {
  font-weight: 400;
  color: #646674;
}
.company .section01 {
  padding: 10rem 0 5rem;
}
.company .section01 .tit {
  font-size: 2.4rem;
  font-weight: 800;
  line-height: 2.8rem;
}
.company .section01 .desc {
  margin-top: 1.4rem;
  font-size: 1.1rem;
  line-height: 1.4rem;
}
.company .section01 .bg01 {
  position: absolute;
  right: 0;
  top: 0;
  transform: translate(50%, -73%);
  z-index: 1;
}
.company .section01 .bg02 {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
}
.company .section01 .bg03 {
  position: absolute;
  left: 50%;
  top: 100%;
  width: 7.2rem;
  transform: translate(-50%, 5rem);
}
.company .section02 {
  padding: 5rem 0;
  text-align: center;
}
.company .section02 .tit {
  margin-top: 5rem;
  font-size: 1.4rem;
  line-height: 1.6rem;
  font-weight: 700;
}
.company .section02 .desc {
  margin-top: 1.1rem;
  font-size: 1.1rem;
  line-height: 1.4rem;
}
@media only screen and (min-width: 1024px) {
  .company .section01 {
    padding: 28.6rem 0 15rem;
  }
  .company .section01 .tit {
    position: relative;
    font-size: 5.142rem;
    line-height: 6.285rem;
    z-index: 100;
  }
  .company .section01 .desc {
    font-size: 1.428rem;
    line-height: 2rem;
  }
  .company .section01 .bg01 {
    transform: translate(34%, -88%);
  }
  .company .section01 .bg02 {
    display: block;
    transform: translate(-18rem, -21rem);
  }
  .company .section01 .bg03 {
    transform: translate(-50%, 10rem);
  }
  .company .section02 {
    padding: 3rem 0;
  }
  .company .section02 .tit {
    font-size: 2.857rem;
    line-height: 3.428rem;
  }
  .company .section02 .desc {
    margin-top: 2.2rem;
    font-size: 1.428rem;
    line-height: 2rem;
  }
}
.company .section03 .mission_list {
  margin-top: 3.2rem;
}
.company .section03 .mission_list li {
  padding: 2rem;
  background: #fff;
  box-shadow: -2px 2px 8px rgba(6, 16, 34, 15%);
  border-radius: 4px;
}

.company .section03 .mission_list li + li {
  margin-top: 2.4rem;
}
.company .section03 .mission_list li img {
  width: 2.2rem;
}

.company .section03 .mission_list li .tit {
  margin-top: 1.2rem;
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 1.7rem;
}
.company .section03 .mission_list li .desc {
  margin-top: 0.8rem;
  font-size: 1.1rem;
  line-height: 1.4rem;
  color: #282c34;
  word-break: keep-all;
}
@media only screen and (min-width: 1024px) {
  .company .section03 .mission_list {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
  }
  .company .section03 .mission_list li {
    display: inline-block;
    width: calc(50% - 2.85rem);
    max-width: 37.142rem;
    padding: 4rem;
    margin: 5.714rem 2.86rem 0;
    border-radius: 1.142rem;
    text-align: left;
  }
  .company .section03 .mission_list li:nth-child(1) {
    margin-top: 0;
    order: 2;
  }
  .company .section03 .mission_list li:nth-child(2) {
    order: 1;
    margin-top: 17.57rem;
  }
  .company .section03 .mission_list li:nth-child(3) {
    order: 4;
    margin-top: -12.714rem;
  }
  .company .section03 .mission_list li:nth-child(4) {
    order: 3;
  }
  .company .section03 .mission_list li + li {
    margin-top: 5.714rem;
  }
  .company .section03 .mission_list li img {
    width: auto;
  }
  .company .section03 .mission_list li .tit {
    margin-top: 2.875rem;
    font-size: 2.285rem;
    line-height: 2.714rem;
  }
  .company .section03 .mission_list li .desc {
    font-size: 1.428rem;
    line-height: 2rem;
  }
}
.company .section04 {
  z-index: 8;
}
.company .section04 .history_list {
  margin-top: 3.2rem;
}
.company .section04 .history_list li {
  position: relative;
  display: flex;
}
.company .section04 .history_list li .year {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5.6rem;
  height: 5.6rem;
  font-size: 1.4rem;
  color: #fff;
  background: #d6e3ff;
  border-radius: 100%;
}
.company .section04 .history_list > li:before {
  position: absolute;
  left: 2.8rem;
  top: 5.6rem;
  width: 1px;
  height: 100%;
  background: linear-gradient(#d6e3ff, #a4c2ff);
  content: "";
}
.company .section04 .history_list > li:nth-child(2):before {
  background: linear-gradient(#a4c2ff, #71a0ff);
}
.company .section04 .history_list > li:nth-child(3):before {
  background: linear-gradient(#71a0ff, #3276ff);
}
.company .section04 .history_list > li:last-child:before {
  display: none;
}
.company .section04 .history_list > li:nth-child(2) .year {
  background: #a4c2ff;
}
.company .section04 .history_list > li:nth-child(3) .year {
  background: #71a0ff;
}
.company .section04 .history_list > li:nth-child(4) .year {
  background: #3276ff;
}
.company .section04 .history_list li .desc {
  position: relative;
  padding-left: 4.6rem;
}
.company .section04 .history_list li .desc:before {
  position: absolute;
  top: 2.8rem;
  left: 0;
  display: block;
  width: 2.4rem;
  height: 1px;
  background: #3276ff;
  content: "";
}
.company .section04 .history_list li .desc:after {
  position: absolute;
  top: 2.8rem;
  left: 2.4rem;
  display: block;
  width: 0.6rem;
  height: 0.6rem;
  margin-top: -0.225rem;
  background: #3276ff;
  border-radius: 100%;
  content: "";
}
.company .section04 .history_list li .desc p {
  margin-top: 2.1rem;
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 1.7rem;
  color: #202020;
}
.company .section04 .history_list li .desc ul {
  margin-top: 0.8rem;
  margin-left: 0.5rem;
}
.company .section04 .history_list li .desc ul li {
  position: relative;
  padding-left: 0.8rem;
  font-weight: 400;
  font-size: 1.1rem;
  line-height: 1.4rem;
  color: #282c34;
}
.company .section04 .history_list li .desc ul li:before {
  position: absolute;
  left: 0;
  top: 50%;
  width: 0.2rem;
  height: 0.2rem;
  margin-top: -0.1rem;
  background: #282c34;
  border-radius: 100%;
  content: "";
}
.company .section04 .history_list > li + li {
  margin-top: 1.5rem;
}
@media only screen and (min-width: 1024px) {
  .company .section04 {
    padding: 14.28rem;

    background: linear-gradient(
      180deg,
      rgba(247, 247, 253, 0) 0%,
      #f7f7fd 100%
    );
  }
  .company .section04 .inner-contents {
    display: flex;
    justify-content: space-between;
  }
  .company .section04 .inner-contents .area_title {
    order: 2;
    text-align: right;
  }
  .company .section04 .history_list > li + li {
    margin-top: 4.85rem;
  }
  .company .section04 .history_list li .year {
    width: 12.1428rem;
    height: 12.1428rem;
    font-weight: 300;
    font-size: 2.571rem;
    z-index: 10;
  }
  .company .section04 .history_list > li:before {
    left: 6.0714rem;
  }
  .company .section04 .history_list li .desc {
    padding-left: 10.428rem;
  }
  .company .section04 .history_list li .desc:before {
    top: 6.0714rem;
    width: 6rem;
  }
  .company .section04 .history_list li .desc:after {
    top: 6.0714rem;
    left: 6.0714rem;
    width: 1.142rem;
    height: 1.142rem;
    margin-top: -0.571rem;
    margin-left: -0.571rem;
  }
  .company .section04 .history_list li .desc p {
    margin-top: 5.5714rem;
    font-size: 2.285rem;
  }
  .company .section04 .history_list li .desc ul {
    margin-top: 1.1428rem;
    margin-left: 0.8rem;
  }
  .company .section04 .history_list li .desc ul li {
    padding-left: 1rem;
    font-size: 1.428rem;
    line-height: 2rem;
  }
  .company .section04 .history_list li .desc ul li:before {
    width: 5px;
    height: 5px;
    margin-top: -2.5px;
  }
}
.company .section05 {
  background: rgba(255, 255, 255, 0.9);
}
.company .section05 .partner_list {
  margin-top: 2rem;
  overflow: hidden;
}
.company .section05 .partner_list li {
  display: flex;
  float: left;
  width: 48%;
  margin-bottom: 2rem;
  padding: 1.5rem 3rem;
  align-items: center;
  justify-content: center;
  height: 4.6rem;
  background: #ffffff;
  box-shadow: -2px 2px 8px rgba(6, 16, 34, 15%);
  border-radius: 4px;
}
.company .section05 .partner_list li:nth-child(even) {
  margin-left: 4%;
}
@media only screen and (min-width: 1024px) {
  .company .section05 {
    padding: 9.142rem 0;
  }
  .company .section05 .partner_list {
    overflow: initial;
    margin-top: 11.428rem;
    display: flex;
    flex-wrap: wrap;
  }
  .company .section05 .partner_list li {
    display: flex;
    float: none;
    width: 26.428rem;
    height: 9.2857rem;
    margin-bottom: 4.285rem;
    margin-right: 4.571rem;
    border-radius: 16px;
  }

  .company .section05 .partner_list li:nth-child(even) {
    margin-left: 0;
  }

  .company .section05 .partner_list li:nth-child(4) {
    margin-left: 0 !important;
  }
}
.footer {
  padding: 4rem 0;
  color: #fff;
  background: #444f66;
}
.footer .logo {
  width: 10rem;
}
.footer ul li,
.footer ul li a {
  font-weight: 600;
  color: #fff;
  font-size: 1.1rem;
  line-height: 1.4rem;
  letter-spacing: 0.2px;
}
.footer ul li + li {
  margin-top: 0.2rem;
}
.footer ul li em {
  font-weight: 200;
  margin-right: 0.8rem;
}
.footer ul li .copy {
  font-weight: 200;
  letter-spacing: 0.4px;
}
.footer .inner-contents > div {
  margin-top: 2.4rem;
}
@media only screen and (min-width: 1024px) {
  .footer {
    padding: 5.714rem;
  }
  .footer .logo {
    width: 12.857rem;
  }
  .footer .inner-contents {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  .footer .inner-contents > div {
    margin-top: 0;
  }
  .footer ul li,
  .footer ul li a {
    font-weight: 600;
    color: #fff;
    font-size: 1rem;
    line-height: 1.6rem;
    letter-spacing: 0.2px;
  }
}
@keyframes initLine {
  0% {
    height: 173px;
  }

  100% {
    height: 0;
  }
}
@keyframes showingLine {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes showUp {
  0% {
    opacity: 0.4;
  }

  100% {
    margin-top: 0;
    opacity: 1;
  }
}

@keyframes showDown {
  0% {
    opacity: 0.4;
  }

  100% {
    margin-top: 0;
    opacity: 1;
  }
}
.section03 .bg_ico {
  width: 50%;
}
.section03 .bg_shape_01 {
  position: absolute;
  left: 0%;
  top: 10%;
}
.section03 .bg_shape_02 {
  position: absolute;
  right: -5%;
  top: -5%;
}
.section03 .bg_shape_03 {
  position: absolute;
  right: -5%;
  top: 85%;
}
.section04 .bg_ico {
  width: 20%;
}
.section04 .bg_shape_01 {
  position: absolute;
  right: 3%;
  top: 50%;
}
.section04 .bg_shape_02 {
  position: absolute;
  right: 3%;
  top: 70%;
}
.bg_circle_big {
  position: absolute;
  right: 0;
  bottom: 54rem;
  z-index: 9;
  width: 12rem;
}
@media only screen and (min-width: 1024px) {
  .section03 .bg_ico,
  .section04 .bg_ico {
    width: auto;
  }
  .section03 .bg_shape_01 {
    left: 50%;
    top: 20%;
    transform: translateX(-80rem);
  }
  .section03 .bg_shape_02 {
    right: 50%;
    top: -20%;
    transform: rotate(180deg) translateX(-60rem);
  }
  .section03 .bg_shape_03 {
    right: 50%;
    top: 50%;
    transform: translateX(65rem);
  }
  .section04 .bg_shape_01 {
    right: 50%;
    top: 15%;
    transform: translateX(60rem);
  }
  .section04 .bg_shape_02 {
    position: absolute;
    right: 30%;
    top: 30%;
  }
  .bg_circle_big {
    width: 30%;
    right: 0;
    bottom: 75rem;
  }
}

@media only screen and (min-width: 1440px) {
  .bg_circle_big {
    width: auto;
    right: 0;
    bottom: 10%;
  }
}

/* 서비스 */
.service .section01 {
  padding: 8rem 0;
}
.service .section01 .section-desc {
  margin-top: 3rem;
}
.service_list {
}
.service_list > div {
  margin-top: 7.5rem;
  width: 100%;
  text-align: center;
}
.service_list .box {
  display: inline-block;
  position: relative;
  width: 100%;
  text-align: left;
  padding: 2rem;
  background: #fff;
  box-shadow: -2px 2px 8px rgba(6, 16, 34, 15%);
  border-radius: 4px;
}
.service_list .box + .box {
  margin-top: 2.4rem;
}
.service_list .box .img {
  text-align: center;
}
.service_list .box .btn {
  margin-top: 1.2rem;
  width: 9.3rem;
  height: 2.8rem;
  line-height: 2.7rem;
  font-weight: 700;
}
.service_list .box span {
  display: inline-block;
  padding-left: 1rem;
  font-weight: 700;
  font-size: 0.9rem;
}
.service_list .box .tit {
  margin-top: 0.6rem;
  padding-left: 1rem;
  font-weight: 700;
  font-size: 1.4rem;
  color: #282c34;
}
.service_list .box .desc {
  margin-top: 4.8rem;
  font-weight: 400;
  font-size: 1.1rem;
  line-height: 1.4rem;
}
@media only screen and (min-width: 1024px) {
  .service_list {
    display: flex;
    justify-content: center;
  }
  .service_list > div:last-child {
    margin-top: 23.928rem;
    margin-left: 5.714rem;
  }
  .service_list .box {
    padding: 4.285rem 3.428rem;
    min-height: 33.928rem;
  }
  .service_list .box + .box {
    margin-top: 5.714rem;
    min-height: 27.642rem;
  }

  .service_list .box + .box .desc {
    margin-top: 3.285rem;
  }
  .service_list .box img {
    position: absolute;
    right: 0;
    top: 0;
    width: 70%;
    transform: translateY(-22%) translateX(5rem);
  }
  .service_list .box span {
    padding-left: 0;
    font-size: 1.142rem;
    line-height: 1.357rem;
  }
  .service_list .box .tit {
    margin-top: 0.57rem;
    padding-left: 0;
    font-size: 2.285rem;
    line-height: 2.714rem;
  }
  .service_list .box .btn {
    margin-top: 2.285rem;
    width: 9.714rem;
    height: 3.714rem;
    line-height: 3.7rem;
  }
  .service_list .box .desc {
    margin-top: 7.285rem;
    font-size: 1.428rem;
    line-height: 2rem;
  }
}
.service .section02 {
  padding: 4.5rem 0;
  background: url("../../img/bg_roadmap.png") 0 0 no-repeat;
  background-size: cover;
}
.wrap_roadmap {
  margin-top: 3.2rem;
}

.wrap_roadmap > div {
  position: relative;
  display: flex;
}
.wrap_roadmap > div .year {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5.6rem;
  height: 5.6rem;
  font-size: 1.4rem;
  color: #fff;
  background: #d6e3ff;
  border-radius: 100%;
}

.wrap_roadmap > div:nth-child(2):before {
  background: linear-gradient(#a4c2ff, #71a0ff);
}
.wrap_roadmap > div:nth-child(3):before {
  background: linear-gradient(#71a0ff, #3276ff);
}
.wrap_roadmap > div:last-child:before {
  display: none;
}
.wrap_roadmap > div:nth-child(2) .year {
  background: #a4c2ff;
}
.wrap_roadmap > div:nth-child(3) .year {
  background: #71a0ff;
}
.wrap_roadmap > div:nth-child(4) .year {
  background: #3276ff;
}
.wrap_roadmap > div .list {
  position: relative;
  padding-left: 4.6rem;
}
.wrap_roadmap > div .list:before {
  position: absolute;
  top: 2.8rem;
  left: 0;
  display: block;
  width: 2.4rem;
  height: 1px;
  background: #3276ff;
  content: "";
}
.wrap_roadmap > div .list:after {
  position: absolute;
  top: 2.8rem;
  left: 2.4rem;
  display: block;
  width: 0.6rem;
  height: 0.6rem;
  margin-top: -0.225rem;
  background: #3276ff;
  border-radius: 100%;
  content: "";
}
.wrap_roadmap > div .list p {
  margin-top: 2.1rem;
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 1.7rem;
  color: #202020;
}
.wrap_roadmap > div .list ul {
  margin-top: 0.8rem;
  margin-left: 0.5rem;
}
.wrap_roadmap > div .list ul li {
  position: relative;
  padding-left: 0.8rem;
  font-weight: 400;
  font-size: 1.1rem;
  line-height: 1.4rem;
  color: #282c34;
}
.wrap_roadmap > div .list ul li:before {
  position: absolute;
  left: 0;
  top: 50%;
  width: 0.2rem;
  height: 0.2rem;
  margin-top: -0.1rem;
  background: #282c34;
  border-radius: 100%;
  content: "";
}
.wrap_roadmap > div + div {
  margin-top: 1.5rem;
}
@media only screen and (min-width: 1024px) {
  .wrap_roadmap {
    display: flex;
  }
  .wrap_roadmap > div + div {
    margin-top: 0;
  }
  .wrap_roadmap > div {
    width: 33%;
    flex-direction: column;
  }
  .wrap_roadmap > div .year {
    width: 12.857rem;
    height: 12.857rem;
    font-size: 2.571rem;
  }
  .wrap_roadmap > div .list {
    margin-top: 5.714rem;
    padding-left: 10.6rem;
  }
  .wrap_roadmap > div .list:before,
  .wrap_roadmap > div .list:after {
    display: none;
  }
  .wrap_roadmap > div .list > li {
    position: relative;
  }
  .wrap_roadmap > div .list > li:before {
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 1.1428rem;
    height: 1.1428rem;
    border-radius: 100%;
    background: #d6e3ff;
    transform: translateX(-4.9rem);
    content: "";
  }
  .wrap_roadmap > div .list > li + li {
    margin-top: 5.142rem;
  }
  .wrap_roadmap > div .list > li p {
    margin-top: 0;
  }
}
