@charset "UTF-8";
body {
  overflow: hidden;
  overflow-y: auto;
}
.wrap {
  overflow: hidden;
  /* width: 100%; */
}

.btn {
  display: inline-block;
  appearance: none;
  border: 0;
  height: 3.9285rem;
  font-weight: 600;
  letter-spacing: 0.2px;
  font-size: 1.1428rem;
  line-height: 3.9285rem;
  padding: 0 3.428rem;
  background: transparent;
}
.btn.btn-black {
  color: #fff;
  background: #000;
  border: 1px solid rgba(255, 255, 255, 0.7);
}
.btn.btn-radius {
  border-radius: 90px;
}
.m-gnb-menu,
.btn-close {
  display: none;
  padding: 0;
  cursor: pointer;
}
.txt-orange {
  color: #715df0 !important;
}
.txt-white {
  color: #fff !important;
}
.inner-contents {
  position: relative;
  max-width: 1440px;
  margin: 0 auto;
}
@media only screen and (max-width: 1440px) {
  .inner-contents {
    padding: 0 20px;
  }
}
@media only screen and (max-width: 1024px) {
  .m-block {
    display: block;
  }
}
@media only screen and (min-width: 1024px) {
  .pc-block {
    display: block;
  }
}

.logo a {
  display: block;
  width: 180px;
  height: 36px;
  background: url("../../img/img_logo.png") 0 0 no-repeat;
  background-size: contain;
  text-indent: -9999px;
  font-size: 0;
  transition: all 1s;
}
@media only screen and (max-width: 1024px) {
  .logo a {
    width: 99px;
    height: 22px;
  }
}
.header {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  padding: 1rem 0;

  transition: all 0.5s;
  z-index: 900;
}
.active-container .header {
  background: #fff;
}
.header .inner-contents {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-menu {
  display: flex;
  justify-content: center;
  align-items: center;
}
.gnb > ul {
  display: flex;
}
.gnb > ul li {
  margin: 0 1rem;
}
.gnb > ul li a {
  font-size: 1rem;
  font-weight: 300;
  letter-spacing: 0.4px;
  color: #000;
}
.active-container .gnb > ul li a {
  color: #000;
  font-weight: 400;
}
.active-container .header-menu .m-gnb-menu svg path {
  stroke: #000;
}
@media only screen and (max-width: 1024px) {
  .m-gnb-menu,
  .btn-close {
    display: block;
  }

  .gnb {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 9000;
    transform: translateX(100%);
    transition: 0.5s all;
  }
  .gnb.show {
    transform: translateX(0);
  }
  .gnb ul {
    flex-direction: column;
  }
  .gnb ul li + li {
    margin-top: 10vw;
  }
  .gnb ul li {
    text-align: center;
  }
  .gnb ul li a {
    position: relative;
    display: inline-block;
    font-size: 2rem;
    color: #000;
    padding-bottom: 10px;
    line-height: 1;
  }
  .gnb ul li a:after {
    position: absolute;
    left: 0;
    bottom: 0;
    display: block;
    width: 0;
    height: 3px;
    background: rgb(255, 121, 34);
    content: "";
    transition: 1s all;
  }
  .gnb ul li.active a:after {
    width: 100%;
  }
  .gnb .btn-close {
    position: absolute;
    right: 2rem;
    top: 2rem;
  }
  .gnb .btn-close .mdi {
    font-size: 7vw;
  }
}
.section-title {
  font-weight: 800;
  font-size: 2rem;
  line-height: 2.4rem;
  color: #282c34;
}
.section-desc {
  margin-top: 1.4rem;
  font-weight: 400;
  font-size: 1.1rem;
  line-height: 1.4rem;
  color: #585d65;
}
.company .section + .section {
  margin-top: 4rem;
}
.company .section .desc {
  font-weight: 400;
  color: #646674;
}
.company .section01 {
  padding: 10rem 0 5rem;
}
.company .section01 .tit {
  font-size: 2.4rem;
  font-weight: 800;
  line-height: 2.8rem;
}
.company .section01 .desc {
  margin-top: 1.4rem;
  font-size: 1.1rem;
  line-height: 1.4rem;
}
.company .section01 .bg01 {
  position: absolute;
  right: 0;
  top: 0;
  transform: translate(50%, -73%);
  z-index: 1;
}
.company .section01 .bg02 {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
}
.company .section01 .bg03 {
  position: absolute;
  left: 50%;
  top: 100%;
  width: 7.2rem;
  transform: translate(-50%, 5rem);
}
.company .section02 {
  padding: 5rem 0;
  text-align: center;
}
.company .section02 .tit {
  font-size: 1.4rem;
  line-height: 1.6rem;
  font-weight: 700;
}
.company .section02 .desc {
  margin-top: 1.1rem;
  font-size: 1.1rem;
  line-height: 1.4rem;
}
@media only screen and (min-width: 1024px) {
  .company .section01 {
    padding: 28.6rem 0 15rem;
  }
  .company .section01 .tit {
    position: relative;
    font-size: 5.142rem;
    line-height: 6.285rem;
    z-index: 100;
  }
  .company .section01 .desc {
    font-size: 1.428rem;
    line-height: 2rem;
  }
  .company .section01 .bg01 {
    transform: translate(34%, -88%);
  }
  .company .section01 .bg02 {
    display: block;
    transform: translate(-18rem, -21rem);
  }
  .company .section01 .bg03 {
    transform: translate(-50%, 10rem);
  }
  .company .section02 {
    padding: 8rem 0;
  }
  .company .section02 .tit {
    font-size: 2.857rem;
    line-height: 3.428rem;
  }
  .company .section02 .desc {
    margin-top: 2.2rem;
    font-size: 1.428rem;
    line-height: 2rem;
  }
}
.company .section03 .mission_list {
  margin-top: 3.2rem;
}
.company .section03 .mission_list li {
  padding: 2rem;
  background: #fff;
  box-shadow: -2px 2px 8px rgba(6, 16, 34, 15%);
  border-radius: 4px;
}
.company .section03 .mission_list li + li {
  margin-top: 2.4rem;
}
.company .section03 .mission_list li img {
  width: 2.2rem;
}
.company .section03 .mission_list li .tit {
  margin-top: 1.2rem;
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 1.7rem;
}
.company .section03 .mission_list li .desc {
  margin-top: 0.8rem;
  font-size: 1.1rem;
  line-height: 1.4rem;
  color: #282c34;
}
.company .section04 .history_list {
}
.company .section04 .history_list li {
  display: flex;
}
.company .section04 .history_list li .year {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5.6rem;
  height: 5.6rem;
  font-size: 1.4rem;
  color: #fff;
  background: #d6e3ff;
  border-radius: 100%;
}
@keyframes initLine {
  0% {
    height: 173px;
  }

  100% {
    height: 0;
  }
}
@keyframes showingLine {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes showUp {
  0% {
    opacity: 0.4;
  }

  100% {
    margin-top: 0;
    opacity: 1;
  }
}

@keyframes showDown {
  0% {
    opacity: 0.4;
  }

  100% {
    margin-top: 0;
    opacity: 1;
  }
}
